<ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li class="current-menu-item"><a href="{% url 'admin_home' %}">Home</a></li>
                                <li><a href="{% url 'babyinfo' %}">Add Baby</a></li>
                                <li><a href="{% url 'orphanageinfo' %}">Add Orphanage</a></li>
                                
                               
                                <li><a href="{% url 'BabyInfo_view' %}">View Baby Info</a></li>
                                <li><a href="{% url 'OrphanageInfo_view' %}">View Orphanage Info</a></li>
                                <li><a href="{% url 'CharityInfo_view' %}">View Donor Info</a></li>
                            </ul>