 <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li ><a href="#">Home</a></li>
                                <li><a href="{% url 'donationinfo' %}">Give Donation</a></li>
                                <li><a href="{% url 'OrphanageInfo_view_d' %}">Orphanage Info</a></li>
                                
                                <li><a href="{% url 'changepass' %}">ChangePassword</a></li>
                                <li><a href="{% url 'index' %}">Logout</a></li>
                            </ul>