<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>welcome</h1>

<p><a href="{% url 'login'%}">Login</a></p>
<p><a href="{% url 'reg'%}">User Registration</a></p>
<p><a href="{% url 'babyinfo'%}">Baby Info</a></p>
<p><a href="{% url 'parentsinfo'%}">Parents Info</a></p>
<p><a href="{% url 'reqstatus'%}">Request_Status</a></p>
<p><a href="{% url 'homevststatus'%}">home visit status</a></p>
<p><a href="{% url 'surityinfo'%}">Surity info</a></p>
<p><a href="{% url 'charityinfo'%}">Charity Info</a></p>
<p><a href="{% url 'donationinfo'%}">Donation Info</a>
<p><a href="{% url 'orphanageinfo'%}">Orphanage Info</a>
<p><a href="{% url 'orphnhltsts'%}">Orphanage health status</a></p>
<p><a href="{% url 'UserRegistration_view'%}">Register view</a></p>

<p><a href="{% url 'BabyInfo_view'%}">Baby Info view</a></p>

<p><a href="{% url 'ParentsInfo_view'%}">Parents info view</a></p>
<p><a href="{% url 'Requeststatus_view'%}">Request Status view</a></p>
<p><a href="{% url 'Homevstngstatus_view'%}">Home visiting Status view</a></p>
<p><a href="{% url 'SurityInfo_view'%}">Surity Info view</a></p>
<p><a href="{% url 'CharityInfo_view'%}">Charity Info_view</a></p>
<p><a href="{% url 'DonationInfo_view'%}">Donation Info_view</a></p>
<p><a href="{% url 'OrphanageInfo_view'%}">OrphanageInfo_view </a></p>
<p><a href="{% url 'OrphnHltSts_view'%}">Orphanage helth status_view </a></p>


</body>
</html>
