 <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li class="current-menu-item"><a href="{% url 'manager_home' %}">Home</a></li>
                                <li><a href="{% url 'BabyInfo_view_m' %}">Baby Information</a></li>
                                <li><a href="{% url 'adoption_request_view_m' %}">Baby Request</a></li>
                               
                                <li><a href="{% url 'CharityInfo_view_m' %}">Donor Information</a></li>
                                <li><a href="{% url 'DonationInfo_view_m' %}">Donation Details</a></li>
                            </ul>