 <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li class="current-menu-item"><a href="{% url 'parent_home' %}">Home</a></li>
                                <li><a href="{% url 'BabyInfo_view_p' %}">Baby Request</a></li>
                                <li><a href="{% url 'adoption_status_view_p' %}">Request Status</a></li>
                                <li><a href="{% url 'Homevstngstatus_view_p' %}">Home Visting Status</a></li>
                                <li><a href="{% url 'changepass' %}">ChangePassword</a></li>
                                <li><a href="{% url 'index' %}">Logout</a></li>
                            </ul>